.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    height: 400px;
    background-color: cornflowerblue;
    color: lemonchiffon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2 {
    color: olive;
}
h3 {
    color: olive;
}
h4 {
    color: olive;
}