.container {
    width: 80%;
    margin: 0 auto;
}

.header {
    height: 400px;
    background-color: cornflowerblue;
    color: lemonchiffon;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
